In [1]:
import pandas as pd

### Connect Pandas to the database with this URL:

In [2]:
 titles = pd.read_csv('data/titles.csv', index_col=None)
 titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
 cast = pd.read_csv('data/cast.csv', index_col=None)
 cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### What are the ten most common movie names of all time?

In [4]:
titles["title"].value_counts()[0:10]

Hamlet                  18
Carmen                  16
Macbeth                 15
The Outsider            12
Maya                    12
Kismet                  11
Freedom                 11
Othello                 11
The Three Musketeers    11
Temptation              11
Name: title, dtype: int64

### Which three years of the 1930s saw the most films released?

In [5]:
titles_1 = titles[(titles["year"] >= 1930) & (titles["year"] <= 1939)]
titles_2 = titles_1["year"].value_counts()
titles_2[0:3]

1937    1196
1936    1138
1938    1129
Name: year, dtype: int64

### Count the number of films that have been released each decade over the history of cinema.

In [6]:
titles["year"].min(), titles["year"].max()

(1894, 2026)

In [7]:
num_by_decade = []
for i in range(1890, 2030, 10):
    total_decade = len(titles[titles["year"].isin(range(i, (i+10)))])
    num_by_decade.append(total_decade)
num_by_decade

[3,
 37,
 6512,
 8797,
 10097,
 8576,
 12711,
 17515,
 18714,
 20243,
 22225,
 38713,
 67977,
 210]

### Count the number of "Hamlet" films made each decade.

In [8]:
titles_1 = titles[titles["title"] == "Hamlet"]
num_by_decade = []
for i in range(1890, 2030, 10):
    total_decade = len(titles_1[titles_1["year"].isin(range(i, (i+10)))])
    num_by_decade.append(total_decade)
num_by_decade

[0, 0, 3, 1, 0, 1, 1, 2, 2, 1, 2, 2, 3, 0]

### Count the number of "Rustler" characters in each decade of the history of film.

In [9]:
cast["year"].min(), cast["year"].max()

(1894, 2026)

In [10]:
cast_1 = cast[cast["character"] == "Rustler"]
num_by_decade = []
for i in range(1890, 2030, 10):
    total_decade = len(cast_1[cast_1["year"].isin(range(i, (i+10)))])
    num_by_decade.append(total_decade)
num_by_decade

[0, 0, 0, 6, 84, 18, 8, 2, 9, 1, 4, 2, 0, 0]

### Count the number of "Hamlet" characters each decade.

In [11]:
cast_2 = cast[cast["character"] == "Hamlet"]
num_by_decade = []
for i in range(1890, 2030, 10):
    total_decade = len(cast_2[cast_2["year"].isin(range(i, (i+10)))])
    num_by_decade.append(total_decade)
num_by_decade

[0, 0, 6, 1, 6, 1, 3, 7, 8, 2, 11, 19, 28, 0]

### What are the 11 most common character names in movie history?

In [12]:
cast["character"].value_counts()[0:11]

Himself        19600
Dancer         12096
Extra          10953
Reporter        8154
Doctor          7436
Student         7177
Policeman       6883
Party Guest     6742
Nurse           6676
Bartender       6613
Minor Role      6255
Name: character, dtype: int64

### Who are the 10 people most often credited as "Herself" in film history?

In [13]:
cast_3= cast[cast["character"] == "Herself"]
cast_3["name"].value_counts().head(10)

Queen Elizabeth II    11
Joyce Brothers         9
Margaret Thatcher      8
Mary Jo Pehl           7
Hillary Clinton        7
Sumie Sakai            6
Joan Rivers            6
Kareena Kapoor         5
Rekha                  5
Marilyn Monroe         5
Name: name, dtype: int64

### Who are the 10 people most often credited as "Himself" in film history?

In [14]:
cast_4= cast[cast["character"] == "Himself"]
cast_4["name"].value_counts().head(10)

Adolf Hitler          100
Richard Nixon          46
Ronald Reagan          39
John F. Kennedy        34
Winston Churchill      24
George W. Bush         23
Benito Mussolini       23
Ron Jeremy             23
Martin Luther King     21
Bill Clinton           20
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1945?

In [15]:
cast_5 = cast[cast["year"] == 1945]
cast_5["name"].mode()

0    Emmett Vogan
dtype: object

### Which actors or actresses appeared in the most movies in the year 1985?

In [16]:
cast_6 = cast[cast["year"] == 1985]
cast_6["name"].mode()

0    Mammootty
dtype: object

### How many roles Mammootty has played in each year of his career.

In [17]:
cast_7 = cast[cast["name"] == "Mammootty"]
cast_8 = cast_7["year"].value_counts()
cast_8.sort_index()

1971     1
1980     2
1981     3
1982     7
1983    18
1984    16
1985    22
1986    18
1987     9
1988     7
1989    10
1990    15
1991     6
1992     3
1993     5
1994     5
1995     5
1996     3
1997     2
1998     4
1999     4
2000     7
2001     3
2002     3
2003     2
2004     8
2005     6
2006     8
2007     7
2008     9
2009    12
2010     9
2011     7
2012     7
2013     5
2014     6
2015     6
2016     4
2017     1
Name: year, dtype: int64

### What are the 10 most frequent roles that start with the phrase "Patron in"?

In [18]:
cast_9 = cast[cast["character"].str.startswith("Patron in")]
cast_9["character"].value_counts().head(10)

Patron in Frisky Rabbit         16
Patron in Chinese Restaurant     9
Patron in the Coffee House       9
Patron in Billiard Parlor        5
Patron in Bar                    4
Patron in restaurant             4
Patron in cabaret                3
Patron in Club                   3
Patron in Restaurant             3
Patron in booth                  2
Name: character, dtype: int64

### What are the 10 most frequent roles that start with the word "Science"?

In [19]:
cast_10 = cast[cast["character"].str.startswith("Science")]
cast_10["character"].value_counts().head(10)

Science Teacher         60
Science Fair Student     9
Science Student          9
Science Fair Judge       6
Science Club Member      5
Science Reporter         5
Science Promo Cadet      5
Science Kid              5
Science                  4
Science teacher          3
Name: character, dtype: int64

### Count number of n-values of the roles that Judi Dench has played over her career.

In [20]:
cast_11 = cast[(cast["name"] == "Judi Dench")]
cast_11["n"].value_counts()

3.0     6
1.0     6
2.0     6
7.0     4
4.0     4
6.0     4
12.0    3
5.0     2
18.0    2
16.0    2
13.0    2
23.0    1
26.0    1
20.0    1
40.0    1
8.0     1
29.0    1
9.0     1
Name: n, dtype: int64

### Count number of n-values of Cary Grant's roles through his career.

In [21]:
cast_12 = cast[(cast["name"] == "Cary Grant")]
cast_12["n"].value_counts()

1.0     46
2.0     20
9.0      2
3.0      2
10.0     2
5.0      1
8.0      1
4.0      1
Name: n, dtype: int64

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

In [22]:
cast_13 = cast[(cast["name"] == "Sidney Poitier")]
cast_13["n"].value_counts()

1.0     21
2.0      8
3.0      6
4.0      3
21.0     1
13.0     1
5.0      1
10.0     1
Name: n, dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

In [25]:
cast_14 = cast[(cast["year"] >= 1950) &(cast["year"] <= 1959) & (cast["n"] == 1)]

,title,year,name,type,character,n
1886,Abbott and Costello Go to Mars,1953,Bud Abbott,actor,Lester,1.0
1887,Abbott and Costello in the Foreign Legion,1950,Bud Abbott,actor,Bud Jones,1.0
1888,Abbott and Costello Meet Captain Kidd,1952,Bud Abbott,actor,Rocky Stonebridge,1.0
1889,Abbott and Costello Meet Dr. Jekyll and Mr. Hyde,1953,Bud Abbott,actor,Slim,1.0
1890,Abbott and Costello Meet the Invisible Man,1951,Bud Abbott,actor,Bud Alexander,1.0
...,...,...,...,...,...,...
3630010,Mit siebzehn beginnt das Leben,1953,Sonja Ziemann,actress,Madelien de Jeu,1.0
3632046,El vampiro negro,1953,Olga Zubarry,actress,Amalia,1.0
3632047,El vampiro negro,1953,Olga Zubarry,actress,Rita,1.0
3632053,Marianela,1955,Olga Zubarry,actress,Marianela,1.0
3632054,Valentina,1950,Olga Zubarry,actress,Valentina Gonz?lez Garc?a,1.0

In [27]:
cast_15 = cast_14[cast_14["type"] == "actor"]
len(cast_15)

6616

In [30]:
cast_16 = cast_14[cast_14["type"] == "actress"]
len(cast_16)

2965

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?

In [31]:
cast_17 = cast[(cast["year"] >= 1950) &(cast["year"] <= 1959) & (cast["n"] == 2)]

,title,year,name,type,character,n
1128,Bashi-Achuki,1956,Dodo Abashidze,actor,Abdoushahili,2.0
2149,The Invisible Boy,1957,Philip Abbott,actor,Dr. Tom Merrinoe,2.0
7119,A los cuatro vientos,1955,Miguel Aceves Mej?a,actor,Pablo G?lvez,2.0
7124,Cuatro copas,1958,Miguel Aceves Mej?a,actor,Miguel,2.0
9948,Private's Progress,1956,Ronald Adam,actor,Doctor at Medical,2.0
...,...,...,...,...,...,...
3631897,"Karagiozis, o adikimenos tis zois",1959,Voula Zouboulaki,actress,Marika,2.0
3631898,Mono gia mia nyhta,1958,Voula Zouboulaki,actress,Anna,2.0
3632044,El honorable inquilino,1951,Olga Zubarry,actress,Ana Mar?a,2.0
3633374,El puma,1959,Sof?a ?lvarez,actress,Norte?a,2.0
3634392,Akdeniz korsanlari,1950,Muazzez ?lkerer,actress,Maria,2.0

In [32]:
cast_18 = cast_17[cast_17["type"] == "actor"]
len(cast_18)

4564

In [33]:
cast_19 = cast_17[cast_17["type"] == "actress"]
len(cast_19)

4556